.scroller::-webkit-scrollbar {
    display: none;
  }
  
.scroller {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    scroll-behavior: smooth;
    height: 500px;
    width: 100%;
} 

.row {
    display: flex;
    width: 100%;
}