.toolbox {
  width: 400px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: calc(100vh - 400px);
}

.undoredo {
  color: white;
  margin: 10px;
  width: 44%;
}

.inner {
  margin: 10px;
  width: 96%;
}

.invisibleInput {
  width: 90%;
  height: 25px;
  background-color: transparent;
  color: white;
  border: none;
}

.invisibleButton {
  width: 10%;
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.smallCross {
  border-radius: 2px;
  color: white;
  background-color: "#040488";
  width: 10px;
  height: 25px;
}
