.toolbox {
    width: 400px;
}

 .scroller::-webkit-scrollbar {
    display: none;
  }
  
  .scroller {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  } 

  .undoredo {
    color: white;
    margin: 10px;
    width: 44%;
  }

  .inner {
    margin: 10px;
    width: 96%;
  }